<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza House</title>
</head>
<body>
    <h1>Order a Pizza</h1>

    <h2>{{ note }}</h2>
    {% if created_pizza_pk %}
    <h2><a href="{% url 'edit_order' created_pizza_pk %}">Edit Your Order</a></h2>
    {% endif %}

    <form {% url 'order' %} method="post">
        {% csrf_token %}
        {{ pizzaform }}
        <input type="submit" value="Order Pizza">
    </form>
    <br><br>
    Want more than one pizza?
    <form action="{% url 'pizzas' %}" method="get">
      {% csrf_token %}
      {{ multiple_form }}
      <input type="submit" value="Get Pizzas">
    </form>
</body>
</html>